<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./Partials/Head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./Partials/Nav.ejs') %>
    Hello World
    
    <a href="/user/signin">Signin page</a>
    <a href="/user/signup">Signup page</a>
    
    <%- include('./Partials/Script.ejs') %>
</body>
</html>